// colors

$ui-orange: #fc673a;
$ui-blue: #007392;
$off-black: #333131;
$black-hover: #6a6a6a;

// grid variables
$grid_cols: 12;

// Breakpoint variables
$breakpoint_xs: 0;
$breakpoint_sm: 576;
$breakpoint_md: 768;
$breakpoint_lg: 922;
$breakpoint_xl: 1200;
$breakpoint_xxl: 1400;

//
// breakpoints
// using the same breakpoints as bootstrap to match media queries to the grid system
$breakpoints-map: (
  '': 0,
  '-sm': $breakpoint_sm * 1px,
  '-md': $breakpoint_md * 1px,
  '-lg': $breakpoint_lg * 1px,
  '-xl': $breakpoint_xl * 1px,
  '-xxl': $breakpoint_xxl * 1px,
) !default;

// font-size variables and maps
// general map for all typography elements(p, h1, h2, etc)
// make more specific queries as needed in each map (i.e. $p-font-size-map)
$font-size-breakpoints: (
  '': 0,
  'sm': $breakpoint_sm * 1px,
  'md': $breakpoint_md * 1px,
  'lg': $breakpoint_lg * 1px,
  'xl': $breakpoint_xl * 1px,
  'xxl': $breakpoint_xxl * 1px,
) !default;

$p-font-size-map: (
  '': 1.3,
  'sm': 1.6,
  'md': 1.7,
  'lg': 1.8,
  'xl': 1.9,
  'xxl': 2,
);
$h1-font-size-map: (
  '': 2,
  'sm': 2.4,
  'md': 2.8,
  'lg': 3.2,
  'xl': 4,
  'xxl': 5,
);
$h2-font-size-map: (
  '': 1.3,
  'sm': 1.6,
  'md': 1.7,
  'lg': 1.8,
  'xl': 1.9,
  'xxl': 2,
);
$h3-font-size-map: (
  '': 1.3,
  'sm': 1.6,
  'md': 1.7,
  'lg': 1.8,
  'xl': 1.9,
  'xxl': 2,
);
