.main-bio {
  box-sizing: border-box;
  width: 100vw;
  padding: 2rem;
  background: $ui-green;
  min-height: 80vhvh;
  &__card {
    padding: 2rem;
    &-description {
      color: white;
    }
  }
  &__card-title {
    color: white;
  }

  &__technologies {
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    h2 {
      color: $ui-orange;
    }
  }

  &__tools-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    // justify-content: center;
    // align-items: center;
    // @include breakpoint($lg) {
    //   justify-content: flex-start;
    // }
  }
  &__tool {
    overflow: hidden;
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 1rem 1rem;
    flex: 1 1 90px;
    font-size: 1.3rem;
    flex-wrap: nowrap;
    @include breakpoint($sm) {
      margin: 2rem 2rem;
    }

    @include breakpoint($lg) {
      flex: 1 1 150px;
    }
    & i {
      margin-right: 10px;
      color: $ui-orange;
      &.sanity:before {
        content: 'S';
        font-size: 2em;
      }
    }
  }
}
