.header {
  padding-top: 80px;
  min-height: 85vh;
  background-color: $ui-green;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;

  &__text {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    .button--cta {
      width: 200px;
    }
  }

  &__title {
    font-size: 8rem;
    color: white;
  }
  &__description {
    margin-top: -5rem;
    width: 50%;
  }
  &__right {
    height: 500px;
    width: 500px;
    background: $off-black;
  }
}
