.header {
  display: flex;
  height: 100%;
  background-color: $ui-green;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5rem 0rem;
    align-items: center;
    justify-content: center;

    @include breakpoint($xxl) {
      padding: 5rem 20rem;
    }
  }
  &__text {
    height: 100%;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include breakpoint($lg) {
      align-items: flex-start;
      text-align: left;
    }
    .button--cta {
      width: 200px;
    }
  }

  &__title {
    font-size: 8rem;
    color: white;
  }
  &__description {
    margin-top: -5rem;
    width: 50%;
  }
  &__right {
    position: relative;
    z-index: 10;
    padding: 0 6rem;
    margin-top: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint($lg) {
      padding: 0;
    }
  }
  &__image {
    max-width: 350px;
    background-image: url('/static/images/Homepage_portrait.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    padding: 0;
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    @include breakpoint($lg) {
      margin-top: 0;
    }
  }
}
