.page-header {
  &__container {
    display: flex;
    height: 50vh;
    .text {
      font-size: 8rem;
    }
    &.bg {
      &--green {
        background: $ui-green;
        color: $ui-orange;
      }
      &--orange {
        background: $ui-orange;
        color: white;
      }
      &--off-white {
        background: $off-white;
        color: $off-black;
      }
    }
  }
}
